nav {
    display:flex;
    align-items: center;
    padding:10px 15px;
    background:#000000;
    gap:20px;
    

    a {
        text-decoration: none;
        color:#fff;
        font-size: 25px;
        &:hover{
            filter: brightness(90%);
        }
    }
    a:last-child {
        border-left: 1px solid #fff;
        padding-left:25px;
    }
}