<main>
    <form>
        <div class="form-row">
            <label for="">Pavadinimas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <div class="form-row">
            <label for="">Imones kodas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <div class="form-row">
            <label for="">PVM registracijos kodas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <div class="form-row">
            <label for="">Adresas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <div class="form-row">
            <label for="">el. pasto adresas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <div class="form-row">
            <label for="">Telefonas:</label>
            <div class="form-input">
                <input type="text" name="name" id="">
            </div>
        </div>
        <button>Prideti</button>
    </form>
</main>