<main>
    <div class="form-wrap">
        <h1>Įmonės pridėjimas</h1>
        <form (ngSubmit)="addNewCompany(newForm)" #newForm="ngForm">
            <div class="form-row">
                <label for="">Imonės Pavadinimas:</label>
                <div class="form-input">
                    <input type="text" name="name" id="" ngModel required minlength="2" maxlength="30" pattern="[a-zA-Z]*" #inputName="ngModel" [class.error]="!inputName.valid && inputName.touched" [@inputField]="inputState[0]" (focus)="inputFocus(0, true)" (blur)="inputFocus(0,false)"> <!---->
                    <span [@errorSpan] *ngIf="!inputName.valid && inputName.touched">Imones Pavadinimas yra privalomas, nuo 2-30 simboliu, tekstas</span>
                </div>
            </div>
            <div class="form-row">
                <label for="">Imones kodas:</label>
                <div class="form-input">
                    <input type="number" name="companyCode" id="" ngModel required pattern="[0-9]{9}" #inputCompanyCode="ngModel" [class.error]="!inputCompanyCode.valid && inputCompanyCode.touched" [@inputField]="inputState[1]" (focus)="inputFocus(1, true)" (blur)="inputFocus(1,false)">
                    <span [@errorSpan] *ngIf="!inputCompanyCode.valid && inputCompanyCode.touched">Imones kodas yra privalomas (9 skaiciai)</span>
                </div>
            </div>
            <div class="form-row">
                <label for="">PVM registracijos kodas:</label>
                <div class="form-input">
                    <input type="text" name="PVMregistrationCode" id="" ngModel required pattern="^LT\d{12}$" #inputPVMregistrationCode="ngModel" [class.error]="!inputPVMregistrationCode.valid && inputPVMregistrationCode.touched" [@inputField]="inputState[2]" (focus)="inputFocus(2, true)" (blur)="inputFocus(2,false)">
                    <span [@errorSpan] *ngIf="!inputPVMregistrationCode.valid && inputPVMregistrationCode.touched">PVM registracijos kodas yra privalomas pvz: LT100000000000 </span>
                </div>
            </div>
            <div class="form-row">
                <label for="">Adresas:</label>
                <div class="form-input">
                    <input type="text" name="adress" id="" ngModel required #inputAdress="ngModel" [class.error]="!inputAdress.valid && inputAdress.touched" [@inputField]="inputState[3]" (focus)="inputFocus(3, true)" (blur)="inputFocus(3,false)">
                    <span [@errorSpan] *ngIf="!inputAdress.valid && inputAdress.touched">Adresas yra privalomas </span>
                </div>
            </div>
            <div class="form-row">
                <label for="">el. pasto adresas:</label>
                <div class="form-input">
                    <input type="email" name="email" id="" ngModel required email #inputEmail="ngModel" [class.error]="!inputEmail.valid && inputEmail.touched" [@inputField]="inputState[4]" (focus)="inputFocus(4, true)" (blur)="inputFocus(4,false)">
                    <span [@errorSpan] *ngIf="!inputEmail.valid && inputEmail.touched">Elektroninis pastas yra privalomas, turi buti validus adresas pvz: example&#64;gmail.com </span>
                </div>
            </div>
            <div class="form-row">
                <label for="">Telefonas:</label>
                <div class="form-input">
                    <input type="text" name="phoneNumber" id="" ngModel required appPhonevalidator #inputPhoneNumber="ngModel" [class.error]="!inputPhoneNumber.valid && inputPhoneNumber.touched" [@inputField]="inputState[5]" (focus)="inputFocus(5, true)" (blur)="inputFocus(5,false)">
                    <span [@errorSpan] *ngIf="!inputPhoneNumber.valid && inputPhoneNumber.touched">Telefono numeris yra privalomas, turi buti validus numeris pvz: +37005555555 </span>
                </div>
            </div>
            <button type="submit" [disabled]="!newForm.valid">Prideti</button>
        </form>
    </div>
</main>