<main>
    <form [formGroup]="contactForm" (ngSubmit)="submitContacts()">
        <div class="form-row">
            <label for="">Vardas:</label>
            <div class="form-input">
                <input type="text" name="name" id="" formControlName="name">
                <span *ngIf="!contactForm.get('name')?.valid && contactForm.get('name')?.touched">Vardo laukelis yra privalomas, nuo 2 simboliu</span>
            </div>
        </div>
        <div class="form-row">
            <label for="">Pavarde:</label>
            <div class="form-input">
                <input type="text" name="name" id="" formControlName="surname">
                <span *ngIf="!contactForm.get('surname')?.valid && contactForm.get('surname')?.touched">Pavardes laukelis yra privalomas, nuo 2 simboliu </span>
            </div>
        </div>
        <div class="form-row">
            <label for="">Pareigos:</label>
            <div class="form-input">
                <input type="text" name="name" id="" formControlName="position">
                <span *ngIf="!contactForm.get('position')?.valid && contactForm.get('position')?.touched">Pareigos laukelis yra privalomas, nuo 2 simboliu</span>
            </div>
        </div>
        <div class="form-row">
            <label for="">Imone:</label>
            <div class="form-input">
                <select name="" id="" formControlName="company">
                    <option *ngFor="let company of companyNames" value="{{company.name}}">{{company.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <label for="">Telefono numeris:</label>
            <div class="form-input" formArrayName="phonenumbers">
                <div *ngFor="let phonenumber of phonenumbers; let i = index">
                    <input type="text" [formControlName]="i" style="margin-top: 10px;">
                    <!-- <span *ngIf="!contactForm.get('phonenumbers')?.valid && contactForm.get('phonenumbers')?.touched">Pareigos laukelis yra privalomas, nuo 2 simboliu</span>-->
                </div>
            </div>
            <div class="form-buttons">
                <button type="button" (click)="addPhoneNumber()">Prideti papildoma tel nr.</button>
                <button type="button" (click)="delPhoneNumber()">Pasalinti papildoma tel nr.</button>
            </div>
        </div>
        <button type="submit" [disabled]="!contactForm.valid">Prideti</button>
    </form>
</main>