main {
    width: 100vw;
    height: 100vh;
    background-color: #F3F0E7;
}

.form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

form {
    box-shadow: 2px 4px 8px #000;
    padding: 40px 50px;
    border-radius: 10px;
    background: #fff;

    h1 {
        text-align: center;
        padding-bottom: 25px;
    }

    label {
        color: #000;
        font-size: 18px;
    }

    .form-row {

        .form-input {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
    
            input {
                width: 300px;
                height: 30px;
                background: #e5ecedb3;
                border: none;
                border: 2px solid #ddd;
                border-bottom: 2px solid #aaa;
                border-radius: 5px;
            }
    
            span {
                color: #d30303;
                width: 300px;
                line-height: 20px;
            }
    
            .error {
                border: 2px solid red;
                box-shadow: 0 0 4px #ff0000;
                background-color: #fff0f0;
            }

            select {
                width: 300px;
                height: 20px;
                background: #e5ecedb3;
                border: none;
                border: 2px solid #ddd;
                border-bottom: 2px solid #aaa;
                border-radius: 5px;
            }
    
        }
        .form-buttons{
            display:flex;
            justify-content: space-between;
            button {
                width: 40%;
                display:flex;
                justify-content: center;
                align-items: center;
                font-size: 36px;
                background: #aaa;
                height: 30px;
            }
        }
    }


    button {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: #00d595;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        height: 40px;
        font-size: 20px;
    }

    button:disabled {
        filter: brightness(80%);
        cursor: not-allowed;
    }
}